[Unit]
Description=Run Streaming Tracker and LCD Script at Boot
After=network.target sound.target
Wants=sound.target

[Service]
Type=simple
ExecStart=/home/alien/alienmotiontracker/startup.sh
Group=audio
WorkingDirectory=/home/alien/alienmotiontracker
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=alien
Environment=PYTHONUNBUFFERED=1
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native

[Install]
WantedBy=multi-user.target

